* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #fff;
  background: black;
  overflow: hidden;
}

canvas {
  display: block;
  /* outline: 4px solid white; */
  pointer-events: none;
}
